/* * General */

body,
#confirmation {
    background-color: rgb(112, 172, 176);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    font-size: 4em;
}

h2 {
    margin-top: 0;
    font-size: 2em;
}

section {
    display: flex;
}

section img {
    width: 50%;
    margin: 2%;
    transition: transform 0.05s;
}

section img:active {
    transform: rotateZ(5deg) scale(1.1);
}

/* * Setup screen */

#setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: rgb(88, 134, 137);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10000%;
    overflow: hidden;
}

#setup ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

#setup ul li {
    cursor: pointer;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: 8px double black;
    border-radius: 20px;
    padding: 2% 12.5% 2% 2%;
    margin: 1%;
    transition: transform 0.05s;
}

#setup ul li:active {
    transform: scale(1.1);
}

/* * Confirmation screen specific */

#confirmation {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#confirmation h1 {
    color: black;
}
