/* Setup screen */
#setup { 
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: gray;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10000%;
}

#setup ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

#setup ul li {
    cursor: pointer;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 20px;
    padding: 2% 12.5% 2% 2%;
    margin: 1%;
    transition: transform 0.05s;
}

#setup ul li:active {
    transform: scale(1.1);
}

/* General */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h1 {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-top: 0;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

section {
    display: flex;
}

section img {
    width: 50%;
    margin: 2%;
    transition: transform 0.05s;
}

section img:active {
    transform: rotateZ(5deg) scale(1.1);
}

/* Confirmation screen */

#confirmation {
    visibility: hidden; /* TODO: MAKE TOGGLEABLE WITH JS */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

