#setup { /* Setup screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: gray;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h1 {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-top: 0;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

section {
    display: flex;
}

section img {
    width: 50%;
    margin: 2%;
    transition: transform 0.05s;
}

section img:active {
    transform: rotateZ(5deg) scale(1.1);
}

/* Confirmation screen */

#confirmation {
    visibility: hidden; /* TODO: MAKE TOGGLEABLE WITH JS */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

