body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: BOLD;
    color: #ffffff;
    background-color: #636a86;
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #484a52;
    margin: 10px 0;
    border-radius: 10px;
}

ul li * {
    font-size: 1em;
    padding: 0 10px;
    width: 20%;
}

ul li p {
    color : #dddddd;
    text-align: right;
}

